﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Ticket / Issue Management Solution</h3>
<p>
    This is a very basic Ticket / Issue Management Solution project.
</p>

<br />
<h2>Team</h2>
<address>
    <b>Ram Magar</b><br />
    <small style="text-decoration-color:dimgray">
        06 Lalitpur, Lagankhel, Nepal<br />
        <span class="glyphicon glyphicon-earphone fa-inverse"></span> +977-9843023068 <br />
        <span class="glyphicon glyphicon-envelope"></span> rtmpata@hotmail.com <br />
        <i class="fa fa-facebook-f" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square"></i>
    </small>
</address>
<address>
    <b>Suraj Bhusal</b><br />
    <small style="text-decoration-color: dimgray">
        Koteshwor, Kathmandu, Nepal<br />
        <span class="glyphicon glyphicon-earphone fa-inverse"></span> +977-9840060268 <br />
        <span class="glyphicon glyphicon-envelope"></span> jaishytaranath@gmail.com <br />
        <i class="fa fa-facebook-f" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square"></i>
    </small>
</address> <br />


<address>
    <h3>Special thanks to : </h3>
    <b>Jiwan Katwal</b><br />
    <small style="text-decoration-color: dimgray">
        Ekantakuna, Lalitpur, Nepal <br />
        <span class="glyphicon glyphicon-envelope"></span> jiwanjee@hotmail.com <br />
    </small>
</address>
