﻿
@{
    ViewBag.Title = "Register";
}

<section class="container">
    <h2>Register New User</h2>

    <form action="~/Home/Contact" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="UserName" class="col-md-2 control-label">User Name</label>
            <div class="col-md-10 input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" name="UserName" id="UserName" placeholder="User Name" />
            </div>
        </div>
        <div class="form-group">
            <label for="HashPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-10 input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></div>
                <input type="text" class="form-control" name="HashPassword" id="HashPassword" placeholder="********" />
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-2 control-label">Email</label>
            <div class="col-md-10 input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input type="text" class="form-control" name="Email" id="Email" placeholder="something@example.com" />
            </div>
        </div>
        <div class="form-group">
            <label for="FirstName" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10 input-group">
                <input type="text" class="form-control" name="Email" id="Email" placeholder="Eg: John" />
            </div>
        </div>
        <div class="form-group">
            <label for="LastName" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10 input-group">
                <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Eg: Corner" />
            </div>
        </div>

        <input type="submit" class="btn btn-default col-md-offset-2" value="Submit" />
    </form>

</section>